# ignore Maven generated target folders
target
/P3/practica3/nbproject/
/P5/gestorllamadas/nbproject/
/P6/gestorllamadasMOCK/nbproject/
/P6/premioMOCK/nbproject/
/P5/reserva/nbproject/
/P6/webClientMOCK/nbproject/
/P7/dbunitexample/nbproject/